@charset "UTF-8";


h1{
  font: normal 25px fira code;
  text-align: center;
  font-weight: 600;
  margin-top: 150px
}
fieldset{
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50%);
  position: absolute;
  background-color: bisque;
  width: 500px;
  height: 500px;

}
.q1{
  position: absolute;  
  background-color: rgb(228, 0, 0);
  width: 40%;
  height: 45%;
  top: 5%;
  left: 7%;
}
.geral{
  font: normal 30px fira code;
  line-height: 225px;
  text-align: center;
}
.q2{
  position: absolute;
  color: rgb(236, 173, 1);
  background-color: rgb(236, 173, 1);
  width: 40%;
  height: 45%;
  top: 50%;
  left: 7%;  
}
.q3{
  position: absolute;
  color: rgb(0, 89, 255);
  background-color: rgb(0, 89, 255);
  width: 40%;
  height: 45%;
  top: 5%;
  right: 7%;
}
.q4{
  position: absolute; 
  color: rgb(255, 0, 200);;
  background-color: rgb(82, 197, 187);
  width: 40%;
  height: 45%;
  top: 50%;
  right: 7%;
}